<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=.;Initial Catalog=IntegratedManagement;User Id=sa;Password=sa;" />
  </connectionStrings>
  <appSettings>
    <!--数据库类型 SQLSERVER，MYSQL，ORACLE，DB2-->
    <add key="DBType" value="SQLSERVER" />
    <add key="ServiceName" value="MiddleBaseService" />
    <add key="ServiceDisplayName" value="MiddleBase Server Test" />
    <add key="ServiceDescription" value="MiddleBase Job Scheduling Server Test" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
