<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--数据库类型 SQLSERVER，MYSQL，ORACLE，DB2-->
  <add key="DBType" value="SQLSERVER"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
