
@{
    ViewBag.Title = "RefreshToken";
}

<h2>RefreshToken</h2>

<hr/>
<div>
    <label>用户名：</label><input type="text" id="txtUserName" name="txtUserName" />
</div>
<div>
    <label>密码：</label><input type="text" id="txtPassword" name="txtPassword" />
</div>

