<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=.;Initial Catalog=SBO_CT008_01_TEST;User Id=sa;Password=AVATECHavatech2016!;" />
  </connectionStrings>
  <appSettings>
    <!--数据库类型 SQLSERVER，MYSQL，ORACLE，DB2-->
    <add key="DBType" value="SQLSERVER"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

   <add key="SAPDBServerType" value="dst_MSSQL2012"/>
    <!--是否可信-->
    <add key="UseTrusted" value="false"/>
    <!--B1用户名-->
    <add key="SAPUser" value="ct008001"/>
    <!--B1密码-->
    <add key="SAPPassword" value="Ava1234!"/>
    <!--B1License地址-->
    <add key="SAPLicenseServer" value="10.0.6.10:30000"/>
    <!-- 数据库服务地址 -->
    <add key="DataSource" value="10.0.6.20" />
    <!-- 数据库名称 -->
    <add key="SAPInitialCatalog" value="SBO_CT008_01_TEST" />
    <!-- 数据库用户名 -->
    <add key="UserID" value="sa" />
    <!-- 数据库用户密码 -->
    <add key="Password" value="AVATECHavatech2016!" />

    <add key="GetPurchase" value="10"/>
    <add key="GetSales" value="10"/>
    <add key="GetStock" value="10"/>
  </appSettings>

  </configuration>
