<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--数据库类型 SQLSERVER，MYSQL，ORACLE，DB2-->
  <add key="DBType" value="SQLSERVER"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SAPDBServerType" value="dst_MSSQL2012"/>
  <!--B1服务地址-->
  <add key="SAPServer" value="192.168.100.245"/>
  <!--是否可信-->
  <add key="UseTrusted" value="false"/>
  <!--B1用户名-->
  <add key="SAPUser" value="AVADEV1"/>
  <!--B1密码-->
  <add key="SAPPassword" value="1234"/>
  <!--B1License地址-->
  <add key="SAPLicenseServer" value="192.168.100.238:30000"/>

  <add key="DatabaseType" value="MSSQL" />
  <!-- 数据库服务地址 -->
  <add key="DataSource" value="192.168.100.238" />
  <!-- 数据库名称 -->
  <add key="InitialCatalog" value="DB_CW_Sunpie" />
  <add key="SAPDB" value="DB_CW_Sunpie"/>
</appSettings>
