<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--数据库类型 SQLSERVER，MYSQL，ORACLE，DB2-->
  <add key="DBType" value="SQLSERVER"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--SAP B1连接配置-->
  <add key="SAPDBServerType" value="dst_MSSQL2012"/>
  <!--是否可信-->
  <add key="UseTrusted" value="false"/>
  <!--B1用户名-->
  <add key="SAPUser" value="manager"/>
  <!--B1密码-->
  <add key="SAPPassword" value="avatech"/>
  <!--B1License地址-->
  <add key="SAPLicenseServer" value="127.0.0.1:30000"/>
  <!-- 数据库服务地址 -->
  <add key="DataSource" value="." />
  <!-- 数据库名称 -->
  <add key="InitialCatalog" value="SBO_COMMON" />
  <!-- 数据库用户名 -->
  <add key="UserID" value="sa" />
  <!-- 数据库用户密码 -->
  <add key="Password" value="sa" />
</appSettings>
