<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/Content/metroadmin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metroadmin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/metroadmin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="~/Content/metroadmin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/metroadmin/css/style.css" rel="stylesheet" />
    <link href="~/Content/metroadmin/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/metroadmin/css/style-default.css" rel="stylesheet" id="style_color" />
    <link href="~/Content/metroadmin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/metroadmin/assets/uniform/css/uniform.default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/metroadmin/assets/chosen-bootstrap/chosen/chosen.css" />
    <script src="~/Content/js/multiselect/docs/js/jquery-2.1.3.min.js"></script>
    
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">

    <!-- BEGIN CONTAINER -->
    <div id="container" style="margin-top:0px;" class="row-fluid">
        <!-- BEGIN PAGE -->
        <div id="main-content" style="margin:0px;">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4> 分录来源处理</h4>
                                <span class="tools">
                                    <a href="javascript:;" class="icon-chevron-down"></a>
                                </span>
                            </div>
                            <div class="widget-body">
                                <div class="form-horizontal">
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <div class="control-group">
                                                <label class="control-label">开始时间</label>
                                                <div class="controls">
                                                    <input type="date" id="txtBeginDate" class="span6" />
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">结束时间</label>
                                                <div class="controls">
                                                    <input type="date" id="txtEndDate" class="span6" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="control-group">
                                                <label class="control-label">创建人</label>
                                                <div class="controls">
                                                    <input type="text" id="txtCreator" class="span8" />
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">交易号</label>
                                                <div class="controls">
                                                    <input type="text" id="txtTransId" class="span8" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="span4">
                                            <div class="control-group">
                                                <label class="control-label">分支</label>
                                                <div class="controls">
                                                    <select data-placeholder="选择分支" class="chzn-select-deselect span8" tabindex="-1" id="selCSI">
                                                        <option value="0">选择分支<option />
                                                        <option value="1">北京尚派正品科技有限公司<option/>
                                                        <option value="2">主要<option/>
                                                        <option value="4">北京和诚诺信科技有限公司<option/>
                                                        <option value="5">陕西替替电子科技有限公司<option/>
                                                        <option value="6">陕西尚派正品科技有限公司<option/>
                                                        <option value="7">陕西尚派正品科技有限公司渭南万达分公司<option/>
                                                        <option value="8">陕西尚派正品科技有限公司榆林分公司<option/>
                                                        <option value="9">陕西尚派正品科技有限公司宝鸡分公司<option/>
                                                        <option value="10">	陕西尚派正品科技有限公司银川分公司<option/>
                                                        <option value="11">	陕西尚派正品科技有限公司咸阳分公司<option/>
                                                        <option value="12">	陕西尚派正品科技有限公司银川第三分公司<option/>
                                                        <option value="13">	陕西尚派正品科技有限公司兰州万达分公司<option/>
                                                        <option value="14">	陕西尚派正品科技有限公司银川第四分公司<option/>
                                                        <option value="15">	陕西尚派正品科技有限公司西宁分公司<option/>
                                                        <option value="16">	陕西尚派正品科技有限公司西宁第一分公司<option/>
                                                        <option value="17">	贵州尚派正品科技有限公司<option/>
                                                        <option value="18">	贵州尚派正品科技有限公司遵义分公司<option/>
                                                        <option value="19">	贵州尚派正品科技有限公司重庆分公司<option/>
                                                        <option value="20">	贵州尚派正品科技有限公司合川分公司<option/>
                                                        <option value="21">	贵州尚派正品科技有限公司重庆巴南分公司<option/>
                                                        <option value="22">	云南尚派正品科技有限公司<option/>
                                                        <option value="23">	云南尚派正品科技有限公司大理分公司<option/>
                                                        <option value="24">	云南尚派正品科技有限公司西双版纳分公司<option/>
                                                        <option value="25">	曲靖尚派正品科技有限公司<option/>
                                                        <option value="26">	玉溪尚派正品科技有限公司<option/>
                                                        <option value="27">	新疆尚派正品电子科技有限公司<option/>
                                                        <option value="28">	新疆尚派正品电子科技有限公司克拉玛依分公司<option/>
                                                        <option value="29">	新疆尚派正品电子科技有限公司库尔勒分公司<option/>
                                                        <option value="30">	新疆尚派正品电子科技有限公司乌鲁木齐第一分公司<option/>
                                                        <option value="31">	新疆尚派正品电子科技有限公司阿克苏分公司<option/>
                                                        <optionvalue="32">	陕西尚派正品科技有限公司银川第五分公司<option/>
                                                        <option value="33">	贵州尚派正品科技有限公司重庆第一分公司<option/>
                                                        <option value="34">	贵州尚派正品科技有限公司遂宁分公司<option/>
                                                        <option value="35">	贵州尚派正品科技有限公司成都分公司<option/>
                                                        <option value="36">	贵州尚派正品科技有限公司双流分公司<option/>
                                                        <option value="37">	云南尚派正品科技有限公司玉溪时代广场店<option/>
                                                        <option value="38">	云南尚派正品科技有限公司玉溪美佳华店<option/>
                                                        <option value="39">	云南尚派正品科技有限公司曲靖美佳华分公司<option/>
                                                        <option value="40">	陕西尚派正品科技有限公司西安第十分公司<option/>
                                                        <option value="41">	陕西尚新风环境科技有限公司<option/>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">交易类型</label>
                                                <div class="controls">
                                                    <select id="selTransType" class="span8">
                                                        <option value="0">所有类型</option>
                                                        <option value="13">应收发票</option>
                                                        <option value="14">应收贷项凭证</option>
                                                        <option value="15">销售交货</option>
                                                        <option value="16">销售退货</option>
                                                        <option value="18">应付发票</option>
                                                        <option value="19">应付贷项凭证</option>
                                                        <option value="20">采购收货</option>
                                                        <option value="21">采购退货</option>
                                                        <option value="30">系统生成</option>
                                                        <option value="46">付款</option>
                                                        <option value="59">收货</option>
                                                        <option value="60">发货</option>
                                                        <option value="67">库存转储</option>
                                                        <option value="162">库存重估</option>
                                                        <option value="321">冲销</option>
                                                        <option value="310000001">库存期初余额</option>
                                                        <option value="1470000049">资本化</option>
                                                        <option value="1470000071">折旧运行</option>
                                                        <option value="1470000094">报废</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span1">
                                            <div class="control-group">
                                                    <button class="btn btn-inverse" title="查询" id="searchBtn" type="button" style="margin-right:5px"><i class="icon-search"></i> </button>
                                            </div>
                                            <div class="control-group"style="min-width:60px">
                                                <input type="checkbox" id="selectAllDataChk" />
                                                <button class="btn btn-inverse" id="syncBtn" type="button" title="同步至中间表" style="margin-right:5px"><i class="icon-refresh icon-white"></i> </button>
                                            </div>
                                        </div>
                                     </div>
                                </div>

                            </div>
                        </div>

                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN ADVANCED TABLE widget-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN EXAMPLE TABLE widget-->
                        <div class="widget">

                            <div class="widget-body">
                                <table class="table table-striped table-bordered" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
                                            <th class="hidden-phone">交易号</th>
                                            <th class="hidden-phone">分支</th>
                                            <th class="hidden-phone">订单类型</th>
                                            <th class="hidden-phone">过账日期</th>
                                            <th class="hidden-phone">创建人</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE widget-->
                    </div>
                </div>
                <!-- END ADVANCED TABLE widget-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div id="footer">
        2013 &copy; Metro Lab Dashboard.
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="~/Content/metroadmin/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/metroadmin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Content/metroadmin/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/metroadmin/js/jquery.blockui.js"></script>
    <!-- ie8 fixes -->
    <!--[if lt IE 9]>
    <script src="js/excanvas.js"></script>
    <script src="js/respond.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Content/metroadmin/assets/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/Content/metroadmin/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/metroadmin/assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Content/metroadmin/assets/data-tables/DT_bootstrap.js"></script>
    <script src="~/Content/metroadmin/js/jquery.scrollTo.min.js"></script>

    <script src="~/Content/metroadmin/js/common-scripts.js"></script>
    <script src="~/Content/metroadmin/js/dynamic-table.js"></script>
    <script src="~/Content/metroadmin/js/form-component.js"></script>

    <script>
        (function ($) {
            var selectAllData;
            $("#searchBtn").click(function () {
                
                $.search.searchClick();
            });
            $("#syncBtn").click(function () {
                $.search.syncClick();
            });
            $.search = {
                syncAllData: function (allData) {
                    $.ajax({
                        url: "/Financial/JournalSource/SyncAllData",
                        data: { JournalSources: eval(allData) },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "success") {
                                alert("数据全部成功同步到中间表");
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                    $.search.searchClick();
                },
                syncSelectedData: function(selecedIDsData){
                    $.ajax({
                        url: "/Financial/JournalSource/SyncSelectedData",
                        data: { IDs: selecedIDsData },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "success") {
                                alert("数据全部成功同步到中间表");
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                    $.search.searchClick();
                },
                bindTable: function (data) {
                    var tbody = $("#sample_1 tbody");
                    tbody.find('tr').remove();
                    var journalList = eval(data);
                    var tr = "";
                    journalList.forEach(function (journal) {
                        tr += " <tr class='odd gradeX'><td><input type='checkbox' class='checkboxes' value='"+journal.TransId +"' /></td><td>" +
                            journal.TransId + "</td><td class='hidden-phone'>" +
                            journal.BPLName + "</td><td class='hidden-phone'>" +
                            journal.TransType + "</td><td class='hidden-phone'>" +
                            journal.RefDate + "</td><td class='hidden-phone'>" +
                            journal.Creator + "</td>";
                    });
                    tbody.append(tr);
                },
                syncClick: function () {
                    var bischecked = $('#selectAllDataChk').is(':checked');
                    if (bischecked) {
                        if (selectAllData == undefined || selectAllData == null){
                            alert("未选择数据");
                            return;
                        }
                        $.search.syncAllData(selectAllData);
                        //同步所有数据
                        
                    } else {
                        var selectedChData = '';
                        $(":checkbox:checked").each(function () {
                            var transId = $(this).val();
                            selectedChData += transId + ',';
                        });
                        if (selectedChData == undefined || selectedChData == null) {
                            alert("未选择数据");
                            return;
                        }
                        $.search.selectAndCreateJournal(selectedChData.toString());
                    }

                },
                searchClick: function () {
                    //获取查询条件


                    $.ajax({
                        url: "/Financial/JournalSource/SearchJournalSource",
                        data: {
                            bplId: $("#selCSI").val(),
                           
                            TransId: $("#txtTransId").val(),
                            TransType: $("#selTransType").val(),
                            BeginDate: $("#txtBeginDate").val(),
                            EndDate: $("#txtEndDate").val(),
                            Creator: $("#txtCreator").val()
                        },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "success") {
                                selectAllData = data.data;
                                $.search.bindTable(data.data);

                            } else {
                                alert(data.message);
                            }
                        }
                    });
                },
                
            };
        })(jQuery);
    </script>
    @*<script>
        function getSelectOption() {
            $.ajax({
                url: "/Financial/JournalSource/GetBranchData",
                type: "post",
                dataType: "json",
                success: function (data) {
                    bindSelect(data.data);
                }
            });
        }
        function bindSelect(data) {
            var select = $("ul .chzn-results");
            var optionList = eval(data);
            var opStr = "";
            optionList.forEach(function (i,op) {
                opStr += "<li class='active-result' id='selCSI_chzn_o_" + op.bplId + "'>" + op.BPLName + "</li>";
            });
            select.append(opStr);
        }
    </script>*@
</body>
<!-- END BODY -->
</html>

